{
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "extends": "airbnb-base",
  "rules": {
    "import/extensions": [ "error", "always", { "ignorePackages": true } ],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["lib/test/*.js"]}],
    // Code's accessibility matters
    "indent": [ "error", "tab" ],
    "no-tabs": ["error", { "allowIndentationTabs": true }],
    "lines-between-class-members": "off",
    "max-len": "off",
    "object-curly-newline": ["error", { "multiline": true }],
    "padded-blocks": "off"
  },
  "overrides": [
    {
      "files": ["*.spec.js"],
      "globals": {
        "expect": "readonly",
        "spy": "readonly"
      },
      "env": {
        "mocha": true
      },
      "rules": {
        "no-unused-expressions": "off"
      }
    },
    {
      "files": ["common/*.js"],
      "env": {
        "browser": true,
        "node": true
      }
    },
    {
      "files": ["browser/*.js"],
      "env": {
        "browser": true,
        "node": false
      }
    },
    {
      "files": ["node/*.js"],
      "env": {
        "browser": false,
        "node": true
      }
    }
  ]
}
